<header>
    <div class="logo">
        <img src="logo.png" alt="Admin Logo">
    </div>
    <app-navbar></app-navbar>
    <div class="admin-info">
        <span>Welcome, {{ username }}</span>
    </div>
</header>
<div class="container">
    <div class="left">
        
    </div>
    <div class="center">
        <div class="coin-list">
        <div *ngFor="let coin of coins" class="coin-item">
          <img [src]="'your-server-url/' + coin.logoFileName" alt="{{ coin.name }} Logo" class="coin-logo">
          <div class="coin-details">
            <span class="coin-name">{{ coin.name }}</span>
            <span class="coin-tag">{{ coin.tag }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="right"></div>
</div>
